@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Dosis', sans-serif;
}
body {
	background-color: #eee;
	font-weight: 400;
	font-size: 1.5rem;	
}

header {
	text-align: center;
	padding-top: 3rem;
	margin-bottom: 2rem;
	line-height: 2;
	display: flex;
	justify-content: center;
}

header img{
	width:10rem;
	height: 10rem;
	border-radius: 50%;
}

#survey-form {
	background-color: #1b1b32;
	color: white;
	width: 80%;
    margin: auto;
    padding-bottom: 3rem;
}

.form-group {
	width: 80%;
	margin: auto;
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
}

input {
	outline: none;
}

#name,
#email,
#number,
#dropdown {
	margin-top: 0.8rem;
	border: none;
	padding: 0.7rem;
	font-weight: 500;
    font-size: 1rem;
    border-radius: 0.3rem;
}

#radio-buttons > label, #checkboxes > label{
    padding-top:0.8rem;
}

#comment{
    margin-top:0.8rem;
    margin-bottom:0.8rem;
    padding:0.7rem;
    height:5rem;
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: 0.3rem;
}

#submit{
    padding:0.7rem;
    font-size: 1rem;
    color: white;
    background-color: #37af65;
    border-radius: 0.3rem;
    outline: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 425px) {
	/*Small smartphones */
  
	body {
	  background-color: #eee;
	  font-weight: 200;
	  font-size: 1rem;
	}
  
	header {
	  padding-top: 1rem;
	  margin-bottom: 1rem;
	  line-height: 1.2;
	  flex-direction: column;
	}
  
	header img {
	  width: 5rem;
	  height: 5rem;
	  border-radius: 50%;
	  margin: auto;
	}
  
	header div {
	  padding: 0 0.7rem;
	}
  
	#survey-form {
	  padding-bottom: 5rem;
	}
  }